In [6]:
print("Hello Pandas")

Hello Pandas

# Install Pandas and import

In [7]:
import pandas as pd

# create a list of data like example

In [8]:
data = [1,2,3,45,10]
print(type(data))
print(data)

<class 'list'>
[1, 2, 3, 45, 10]

In [9]:
# create a series from the list 
s =pd.Series(data)

print(type(s))

print(s)

<class 'pandas.core.series.Series'>
0     1
1     2
2     3
3    45
4    10
dtype: int64

In [10]:
# create a dataframe from the series
df =pd.DataFrame(s, columns=["Number"]) #columns = ["name"]

print(type(df))

print(df)

<class 'pandas.core.frame.DataFrame'>
   Number
0       1
1       2
2       3
3      45
4      10

In [11]:
print(data)

[1, 2, 3, 45, 10]

In [12]:
# data variable list to dataframe create
df =pd.DataFrame(data, columns=["Number2"]) #columns = ["name"]

print(type(df))

print(df)

<class 'pandas.core.frame.DataFrame'>
   Number2
0        1
1        2
2        3
3       45
4       10

In [13]:
# dataframe from the series create 
df1 =pd.DataFrame(data, columns =["Number2"])
print(df1)

   Number2
0        1
1        2
2        3
3       45
4       10

In [14]:
s2 =df1["Number2"]
print(type(s2))
print(s2)

<class 'pandas.core.series.Series'>
0     1
1     2
2     3
3    45
4    10
Name: Number2, dtype: int64

In [15]:
# create a series for 2 integer columns
data =[[1,2],[3,4],[5,6]]
print(data)

[[1, 2], [3, 4], [5, 6]]

In [16]:
# Create a dataframe from the list and rename the columns
df=pd.DataFrame(data, columns=["A","B"])

print(type(data))

print(df)

<class 'list'>
   A  B
0  1  2
1  3  4
2  5  6

In [17]:
# Create a series from the dataframe
s = df[["A","B"]]
print(type(s))

print(s)

<class 'pandas.core.frame.DataFrame'>
   A  B
0  1  2
1  3  4
2  5  6

# dictionary to series and DataFrame

In [18]:
# create a dictionary 
data ={
    "NAME" : ["sapnil","saha","niloy"],
    "AGE" : [20,22,24],
    "CITY" :["bangladesh","narsingdi","dhaka"]
}
print(data)

{'NAME': ['sapnil', 'saha', 'niloy'], 'AGE': [20, 22, 24], 'CITY': ['bangladesh', 'narsingdi', 'dhaka']}

In [19]:
# create a series from the dictionary 
name_series = pd.Series(data["NAME"],name= "Name")
print(name_series)

0    sapnil
1      saha
2     niloy
Name: Name, dtype: object

In [20]:
d = pd.DataFrame(data)
print(d)

     NAME  AGE        CITY
0  sapnil   20  bangladesh
1    saha   22   narsingdi
2   niloy   24       dhaka

In [21]:
age_series =df["AGE"]
print(age_series)

KeyError: 'AGE'

# set to series and dataframe

In [ ]:
x= {1,2,3,4,5,7,10}
print(type(x))

<class 'set'>

In [ ]:
a =list(x)
print(a)

[1, 2, 3, 4, 5, 7, 10]

In [ ]:
s =pd.Series(list(a),name="Number")
print(s)

0     1
1     2
2     3
3     4
4     5
5     7
6    10
Name: Number, dtype: int64

In [ ]:
d =pd.DataFrame(a, columns=["Set values"])
print(d)

   Set values
0           1
1           2
2           3
3           4
4           5
5           7
6          10

In [ ]:
t =(1,2,3,4,54,6,True,False)
ss = pd.Series(t,name="tuple number")
print(ss)

0        1
1        2
2        3
3        4
4       54
5        6
6     True
7    False
Name: tuple number, dtype: object

In [ ]:
ddff =pd.DataFrame(t,columns=["Number"])
print(ddff)

  Number
0      1
1      2
2      3
3      4
4     54
5      6
6   True
7  False

In [ ]:
ddff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Number  8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes

In [ ]:
#creating a Dataframe with integer data 
integer_data= {
    "AGE" : [25,30,26,28,20,22,40,28],
    "SALARY" : [50000,65000,45000,67000,32000,48000,80000,56000]
}

int_df =pd.DataFrame(integer_data)
print(int_df)

   AGE  SALARY
0   25   50000
1   30   65000
2   26   45000
3   28   67000
4   20   32000
5   22   48000
6   40   80000
7   28   56000

In [ ]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     8 non-null      int64
 1   SALARY  8 non-null      int64
dtypes: int64(2)
memory usage: 260.0 bytes

In [ ]:
int_df.dtypes

AGE       int64
SALARY    int64
dtype: object

In [ ]:
# changeing data type to int32 
int_df["AGE"] = int_df["AGE"].astype("int32")
int_df["SALARY"] = int_df["SALARY"].astype("int32")
print(int_df)

   AGE  SALARY
0   25   50000
1   30   65000
2   26   45000
3   28   67000
4   20   32000
5   22   48000
6   40   80000
7   28   56000

In [ ]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     8 non-null      int32
 1   SALARY  8 non-null      int32
dtypes: int32(2)
memory usage: 196.0 bytes

In [ ]:
2**32

4294967296

In [ ]:
4294967296/2

2147483648.0

# - 2147483648 to + 2147483647

In [ ]:
# changeing data type to int16
int_df["AGE"] = int_df["AGE"].astype("int16")
int_df["SALARY"] = int_df["SALARY"].astype("int16")
print(int_df)

   AGE  SALARY
0   25  -15536
1   30    -536
2   26  -20536
3   28    1464
4   20   32000
5   22  -17536
6   40   14464
7   28   -9536

In [ ]:
2**15

32768

# - 32768 to + 32767

In [ ]:
#creating a Dataframe with float data 
integer_data= {
    "AGE" : [25,30,26,28,20,22,40,28],
    "SALARY" : [50000,65000,45000,67000,32000,48000,80000,56000]
}

int_df =pd.DataFrame(integer_data)
print(int_df)

   AGE  SALARY
0   25   50000
1   30   65000
2   26   45000
3   28   67000
4   20   32000
5   22   48000
6   40   80000
7   28   56000

In [ ]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     8 non-null      int64
 1   SALARY  8 non-null      int64
dtypes: int64(2)
memory usage: 260.0 bytes

In [ ]:
# changeing data type to float64
int_df["AGE"] = int_df["AGE"].astype("float64")
int_df["SALARY"] = int_df["SALARY"].astype("float64")
print(int_df)

    AGE   SALARY
0  25.0  50000.0
1  30.0  65000.0
2  26.0  45000.0
3  28.0  67000.0
4  20.0  32000.0
5  22.0  48000.0
6  40.0  80000.0
7  28.0  56000.0

In [ ]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     8 non-null      float64
 1   SALARY  8 non-null      float64
dtypes: float64(2)
memory usage: 260.0 bytes

In [23]:
# create a dictionary with mixed data type 
data1 = {
    "Name" : ["Sapnil ","Saha","Niloy"],
    "Age" : [27,24,22],
    "Occupation" : ["Data Scientist","Software Engineer","Teacher"],
    "Salary" : [60000,55000,70000]
}

print(data1)

{'Name': ['Sapnil ', 'Saha', 'Niloy'], 'Age': [27, 24, 22], 'Occupation': ['Data Scientist', 'Software Engineer', 'Teacher'], 'Salary': [60000, 55000, 70000]}

In [26]:
# create a dataframe and check the data type 
data_type=pd.DataFrame(data1)
print(data_type)
print(" ")
print(data_type.dtypes)

      Name  Age         Occupation  Salary
0  Sapnil    27     Data Scientist   60000
1     Saha   24  Software Engineer   55000
2    Niloy   22            Teacher   70000

Name          object
Age            int64
Occupation    object
Salary         int64
dtype: object

In [ ]:
data1 = {
    "Name" : ["Sapnil ","Saha","Niloy"],
    "Age" : [27,24,22],
    "Occupation" : ["Data Scientist","Software Engineer","Teacher"],
    "Salary" : ["60000 BDT","55000 BDT","70000 BDT"]
}

print(data1)

print(" ")

data_type=pd.DataFrame(data1)

print(data_type)

print(" ")

print(data_type.dtypes)

{'Name': ['Sapnil ', 'Saha', 'Niloy'], 'Age': [27, 24, 22], 'Occupation': ['Data Scientist', 'Software Engineer', 'Teacher'], 'Salary': ['60000 BDT', '55000 BDT', '70000 BDT']}

      Name  Age         Occupation     Salary
0  Sapnil    27     Data Scientist  60000 BDT
1     Saha   24  Software Engineer  55000 BDT
2    Niloy   22            Teacher  70000 BDT

Name          object
Age            int64
Occupation    object
Salary        object
dtype: object

# DateTime

In [31]:
# create a list of dates
dt = ["2025-02-20","2025-02-21","2025-02-22"]
print(" ")
# Create a DataFrame with a datetime column 
dt_df =pd.DataFrame({"Date" : dt })
print(dt_df)
print(" ")
#cheak the data type of the "Date" column 
dt_df["Date"].dtype

         Date
0  2025-02-20
1  2025-02-21
2  2025-02-22

dtype('O')

In [32]:
timestamps = pd.to_datetime(dt)
dt_df2 = pd.DataFrame({"Date2" : timestamps})
print(dt_df2)
print("")

dt_df2.info()

       Date2
0 2025-02-20
1 2025-02-21
2 2025-02-22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date2   3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 156.0 bytes

In [34]:
dates =["2023-10-04 12:34:56.123456789","2023-11-15 15:23:45.987654321"]
timestamps=pd.to_datetime(dates)
dates_df=pd.DataFrame({"Date" : timestamps})

print(dates_df["Date"].dtype)

print(" ")
print(dates_df)

datetime64[ns]

                           Date
0 2023-10-04 12:34:56.123456789
1 2023-11-15 15:23:45.987654321

In [35]:
timestamps=pd.to_datetime(dates)
series=pd.Series(timestamps,name="dates")
print(series)

0   2023-10-04 12:34:56.123456789
1   2023-11-15 15:23:45.987654321
Name: dates, dtype: datetime64[ns]