# Reading Data From CSV / Excel

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("pandas_dataset_csv.csv")

In [16]:
print(df)

      id               name               nationality                 city  \
0      0          Kiana Lor                     China               Suzhou
1      1     Joshua Lonaker  United States of America        Santa Clarita
2      2      Dakota Blanco  United States of America              Oakland
3      3    Natasha Yarusso  United States of America        Castro Valley
4      4     Brooke Cazares                    Brazil  São José dos Campos
..   ...                ...                       ...                  ...
302  302        Austin Haas  United States of America             Columbus
303  303    Madison Fithian  United States of America          Los Angeles
304  304  Zachary Mulvahill  United States of America          Los Angeles
305  305   Eliana Michelsen  United States of America              Oakland
306  306    Dane Whittemore                    Canada              Toronto

     latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0       31.31     120.62      F           NaN   22            3.5         3.7
1       34.39    -118.54      M           NaN   22            2.9         3.2
2       37.80    -122.27      F           NaN   22            3.9         3.8
3       37.69    -122.09      F           NaN   20            3.3         2.8
4      -23.18     -45.88      F           NaN   21            3.7         2.6
..        ...        ...    ...           ...  ...            ...         ...
302     39.96     -83.00      M           NaN   20            3.6         3.7
303     34.05    -118.24      F           NaN   20            3.6         3.9
304     34.05    -118.24      M           NaN   20            3.2         3.4
305     37.80    -122.27      F           NaN   23            3.0         2.8
306     43.67     -79.42      M           NaN   21            3.8         3.2

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
1               3.6             5.0                 5                 4.0
2               3.2             5.0                 3                 3.0
3               3.2             5.0                 5                 2.0
4               3.4             1.0                 4                 4.0
..              ...             ...               ...                 ...
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0
305             2.9             5.0                 4                 4.0
306             4.0             5.0                 5                 4.0

     refletter.rating
0                   4
1                   5
2                   4
3                   4
4                   5
..                ...
302                 5
303                 3
304                 3
305                 5
306                 5

[307 rows x 16 columns]

In [17]:
df.head()

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5

# Reading dataset from Github using requests

In [40]:
import requests
from io import StringIO

In [41]:
url ="https://github.com/rashakil-ds/5-Minutes-to-Pandas/blob/main/Datasets/bike.csv"
response = requests.get(url)

In [44]:
csv_content =StringIO(response.text)

In [46]:
df1 = pd.read_csv(csv_content)
print(df1)

                                                    11    1    0    3   22  \
0        <div data-target="react-app.reactRoot"></div>  NaN  NaN  NaN  NaN
1                                         </react-app>  NaN  NaN  NaN  NaN
2                                       </turbo-frame>  NaN  NaN  NaN  NaN
3                                               </div>  NaN  NaN  NaN  NaN
4                                       </turbo-frame>  NaN  NaN  NaN  NaN
..                                                 ...  ...  ...  ...  ...
123                                             </div>  NaN  NaN  NaN  NaN
124      <div id="js-global-screen-reader-notice" c...  NaN  NaN  NaN  NaN
125      <div id="js-global-screen-reader-notice-as...  NaN  NaN  NaN  NaN
126                                            </body>  NaN  NaN  NaN  NaN
127                                            </html>  NaN  NaN  NaN  NaN

     0.1   6  0.2  1.1  0.4  ...  \
0    NaN NaN  NaN  NaN  NaN  ...
1    NaN NaN  NaN  NaN  NaN  ...
2    NaN NaN  NaN  NaN  NaN  ...
3    NaN NaN  NaN  NaN  NaN  ...
4    NaN NaN  NaN  NaN  NaN  ...
..   ...  ..  ...  ...  ...  ...
123  NaN NaN  NaN  NaN  NaN  ...
124  NaN NaN  NaN  NaN  NaN  ...
125  NaN NaN  NaN  NaN  NaN  ...
126  NaN NaN  NaN  NaN  NaN  ...
127  NaN NaN  NaN  NaN  NaN  ...

     title:"5-Minutes-to-Pandas/Datasets/bike.csv at main · rashakil-ds/5-Minutes-to-Pandas"  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
123                                                NaN
124                                                NaN
125                                                NaN
126                                                NaN
127                                                NaN

     appPayload:{"helpUrl":"https://docs.github.com"  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
..                                               ...
123                                              NaN
124                                              NaN
125                                              NaN
126                                              NaN
127                                              NaN

     findFileWorkerPath:"/assets-cdn/worker/find-file-worker-7d7eb7c71814.js"  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
123                                                NaN
124                                                NaN
125                                                NaN
126                                                NaN
127                                                NaN

     findInFileWorkerPath:"/assets-cdn/worker/find-in-file-worker-96e76d5fdb2c.js"  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
123                                                NaN
124                                                NaN
125                                                NaN
126                                                NaN
127                                                NaN

     githubDevUrl:null  enabled_features:{"code_nav_ui_events":false  \
0                  NaN                                           NaN
1                  NaN                                           NaN
2                  NaN                                           NaN
3                  NaN                                           NaN
4                  NaN                                           NaN
..                 ...                                           ...
123                NaN                                           NaN
124                NaN                                           NaN
125                NaN                                           NaN
126                NaN                                           NaN
127                NaN                                           NaN

     overview_shared_code_dropdown_button:false  react_blob_overlay:false  \
0                                           NaN                       NaN
1                                           NaN                       NaN
2                                           NaN                       NaN
3                                           NaN                       NaN
4                                           NaN                       NaN
..                                          ...                       ...
123                                         NaN                       NaN
124                                         NaN                       NaN
125                                         NaN                       NaN
126                                         NaN                       NaN
127                                         NaN                       NaN

     copilot_smell_icebreaker_ux:true  accessible_code_button:true}}}</script>
0                                 NaN                                      NaN
1                                 NaN                                      NaN
2                                 NaN                                      NaN
3                                 NaN                                      NaN
4                                 NaN                                      NaN
..                                ...                                      ...
123                               NaN                                      NaN
124                               NaN                                      NaN
125                               NaN                                      NaN
126                               NaN                                      NaN
127                               NaN                                      NaN

[128 rows x 33067 columns]

C:\Users\SAPNIL SAHA PC\AppData\Local\Temp\ipykernel_14368\821523100.py:1: DtypeWarning: Columns (1,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv_content)

In [47]:
df1.head()

,11,1,0,3,22,0.1,6,0.2,1.1,0.4,...,"title:""5-Minutes-to-Pandas/Datasets/bike.csv at main · rashakil-ds/5-Minutes-to-Pandas""","appPayload:{""helpUrl"":""https://docs.github.com""","findFileWorkerPath:""/assets-cdn/worker/find-file-worker-7d7eb7c71814.js""","findInFileWorkerPath:""/assets-cdn/worker/find-in-file-worker-96e76d5fdb2c.js""",githubDevUrl:null,"enabled_features:{""code_nav_ui_events"":false",overview_shared_code_dropdown_button:false,react_blob_overlay:false,copilot_smell_icebreaker_ux:true,accessible_code_button:true}}}</script>
0,"<div data-target=""react-app.reactRoot""></div>",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,</react-app>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,</turbo-frame>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,</div>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,</turbo-frame>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Columns: 33067 entries, 11 to accessible_code_button:true}}}</script>
dtypes: float64(33062), object(5)
memory usage: 32.3+ MB

In [49]:
df1.shape

(128, 33067)

# Reading dataset from Github using web Get

In [51]:
import wget

In [52]:
url = "https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/bike.csv"

file_path =wget.download(url)

In [53]:
df2= pd.read_csv(file_path)

In [54]:
df2.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [55]:
df2.shape

(17379, 15)

# Reading dataset from Github using direct Raw data URL

In [57]:
url3="https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/refs/heads/main/Datasets/bike.csv"

df3= pd.read_csv(url3)
df3.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1/1/2011,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,1/1/2011,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,1/1/2011,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,1/1/2011,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,1/1/2011,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [58]:
df3.shape

(17379, 15)